body{

font-family: "Verdana";
margin-top: 0;
margin-left: 0;
background:-webkit-linear-gradient(top,rgb(163,144,189), rgb(47,9,99));
margin-bottom: 0;
height: 900px;

}

.container{
	border-width: 2px;
	width: 800px;
	background-color: white;
	border-radius: 10px;
	margin-left: 20%;
	margin-top: 2%;
	box-shadow: 2px 2px 8px gray;
}

h1{

	margin-left: 140px;
}

h2{

	font-size: 40px;
	margin-left: 150px;

}

.infotitle{
font-size: 18px;
margin-left: 5%;
color: white;
}

.process{
	margin-left: 20%;
	background-color: black;
	border-width: 1px;
	border-radius: 5px;
	width: 60%;
	height: 20px;
}

.movprocess{
	background-color: #846D9C;
	width: 100%;
}

.largetext{

	font-size: 12px;
	margin-left: 15%;
}

.sizetext{

font-size: 12px;
margin-left: 15%;
}

#infobox2{
margin-left: 15%;
	width: 340px;
	height: 30px;
}

#infobox3{
margin-left: 15%;
	width: 340px;
	height: 30px;
}

#infobox4{
margin-left: 15%;
	width: 340px;
	height: 30px;
}

/*----------------------------*/
.ido{

border-width: 0;
border-radius: 5px;
width: 160px;
height: 40px;
margin-top: -5%;
font-size: 12px;

}

.ido:hover{
	cursor: pointer;
}

.eyepass {
margin-top: -6%;
margin-left: 80%;
}

.eyepass:hover{

	cursor: pointer;
}

.promo{

margin-left: 70px;
font-size: 12px;

}

.promo:hover{

	cursor: pointer;
}

.logo{
background: url(logo2.png);
border: 0;
background-size: 100px 80px;
background-repeat: no-repeat;
width: 100px;
height: 100px;
margin-left: 90%;
margin-top: -80px;
}

.logo:hover{

cursor: pointer;

}

.pencil{
	cursor: pointer;
	margin-left: 75%;
}

#carga-picuser{
	margin-left: 10%;
	margin-top: 10%;
}

#carga-picuser2{
	margin-left: 10%;
}


/*-----------------*/

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfil .inputfile-6 {
    font-size: 10px;
    /* 20px */
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile-6 + label {
    color: black;
}

.inputfile-6 + label {
    border: 1px solid #CAC9C9;
    background-color: #E5E5E5;
}

.inputfile-6 + label span {
    width: 80px;
    height: 20px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    border: 1px solid #CAC9C9;
    padding-top: -10px;
    font-size: 10px;
    width: 20%;
    height: 25px;
    color: black;
    background-color: rgb(236,235,234);
    display: inline-block;
    cursor: pointer;
}


/*----------------------------*/

.js .inputfile2 {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile2 .inputfile-62 {
    font-size: 10px;
    /* 20px */
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile2 + label {
    display: none;
}

.inputfile2:focus + label,
.inputfile2.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile-62 + label {
    color: black;
}

.inputfile-62 + label {
    border: 1px solid #CAC9C9;
    background-color: #E5E5E5;
}

.inputfile-62 + label span {
    width: 80px;
    height: 20px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-62 + label strong {
    border: 1px solid #CAC9C9;
    padding-top: -10px;
    font-size: 10px;
    width: 20%;
    height: 25px;
    color: black;
    background-color: rgb(236,235,234);
    display: inline-block;
    cursor: pointer;
}

/*----------------*/

.navigator{
width: 100%;
height: 9%;
position: fixed;	
box-shadow: 2px 2px 10px black;
color: rgb(207,209,208);
background:-webkit-linear-gradient(top,rgb(247,247,247), rgb(236,235,234));
}

.navcontent{
margin-left: 15%;
}

.navcontent2{
margin-top: -42px;
margin-right: 20px; 
margin-left: 15%;
}

.iconP{
background: url(../img/logo2.png);
border: 0;
background-size: 80px 60px;
background-repeat: no-repeat;
margin-top: -1px;
margin-right: 5%;
width: 80px;
height: 55px;
}

.iconP:hover{
cursor: pointer;
}


.searchs{
width:500px;
height:25px;
font-size: 16px;
margin-top: -2px;
}

.magnifying{

margin-top: 8px;

}

.glass {
background: url(../img/lupa.png);
background-color:rgb(47,9,99);
background-size: 75px 22px;
background-repeat: no-repeat;
border-width: 1px;
border-radius: 5px;
width: 40px;
height: 25px;
margin-top: 5px;
}

.glass:hover{
	cursor: pointer;

}

.divider {
width: 50%;
height: 10%;
}

.container{
	border-width: 2px;
	width: 920px;
	height: auto;
	margin-left: 15%;
	background-color: white;
	border-radius: 10px;
}

.signin{
	margin-left: 10%;
	font-size: 14px;
	/*font-family: 'Krungthep'; */
	font-family: 'Verdana';
	color: rgb(47,9,99);
	width:100px;
	height:30px;
}

.signin:hover{

	cursor: pointer;
}

.signin2{
	margin-left: 10%;
	background: url(../img/exit.png);
	background-repeat: no-repeat;
	background-size: 30px; 
	border: 0;
	width:40px;
	height:30px;
}

.signin2:hover{

	cursor: pointer;
}

.signin3{
	margin-left: -12%;
	background: url(../img/user.png);
	background-repeat: no-repeat;
	background-size: 30px; 
	border: 0;
	width:40px;
	height:30px;
}

.signin3:hover{

	cursor: pointer;
}

.person {

margin-left: 8%;

}

#edita{
	margin-left: 80%;
	margin-top: -3%;
	font-size: 13px;
}

/*----------------*/

.fondo{

width: 920px;
height: 200px;

}

.userinfo{
margin-top: -15%;
margin-left: 10%;
width: 300px;
}

.username{

border:0;
margin-left: 10%;
margin-top: 10%;

}

.movetext{

margin-left: 30%;
margin-top: -20%;

}

.photo-user{
	width: 100px;
	height: 100px;
}

.userpic{
    width: 100px;
    height: 100px;
 }

.logopic{
    width: 80px;
    height: 80px;
    margin-left: 90%;
    margin-top: 5%;
}